head
  title="BINLAB"
  link(href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto" rel="stylesheet")
  link(rel="shortcut icon" href="../favicon-full.png" type="image/png")
  link(rel="icon" href="../favicon-full.png" type="image/png")
  link(rel="shortcut icon" href="../favicon-full.png" type="image/x-icon")
  link(rel="icon" href="../favicon-full.png" type="image/x-icon")
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  link(rel="stylesheet" href="../custom_scrollbar/jquery.mCustomScrollbar.css")
  script(src="../custom_scrollbar/jquery.mCustomScrollbar.concat.min.js")
body
  .feedback-container.no
    .close-feedback-order
    span.title.trn= connectWithUs
    span.text.trn= feedbackMsg
    form(action="")
      input.name.trn(type="text" placeholder=name)
      input.phone.trn(type="text" placeholder=phone)
      textarea.msg.trn(placeholder=message)
      button#send-feedback.trn(type="submit")= send
    .bottle
  .order-container.no
    .close-feedback-order
    span.title.trn= makeOrder
    span.text.trn= orderMsg
    form(action="")
      input.name.trn(type="text" placeholder=introPost)
      input.email(type="text" placeholder="Email")
      input.phone.trn(type="text" placeholder=phone)
      textarea.msg.trn(placeholder=message)
      button#send-order.trn(type="submit")= send
  mixin mixin-contacts
    .social
      a.google(href="https://plus.google.com/" target="_blank")
      a.facebook(href="https://facebook.com/" target="_blank")
      a.in(href="https://linkedin.com/" target="_blank")
      a.twitter(href="https://twitter.com/" target="_blank")
      a.instagram(href="https://instagram.com/" target="_blank")
      a.vimeo(href="https://vimeo.com/" target="_blank")
    span.copyrights © 2017 BINLAB. ALL RIGHTS RESERVED. ÜBERWEB CREATED AT WARP.
  .menu
    a.menu-item.active-menu-item.trn(href='#about')= aboutUs
    span.x
    a.menu-item.trn(href='#make')= creating
    span.x
    a.menu-item.trn(href='#projects')= ourProjects
    span.x
    a.menu-item.trn(href='#team')= team
    span.x
    a.menu-item.trn(href='#contacts')= contacts
    span.last-x
    span#menu-line
    .close
    .fullscreen-contacts
      +mixin-contacts
  .site-container
    .buttons
      button.btn.feedback.trn= feedbackBtn
      button.btn.order.trn= orderBtn
    .header
      .parallax1
      .parallax2
      .title
        span BIN
        span LAB
        .hamburger
          span
          span
          span
      .content
        .bottle
    .company#about
      .parallax3
      .parallax4
      .parallax5
      .parallax6
      .parallax7
        .parallax7-scissors
      .moving-container
        span.about-us.trn= aboutUs
        .we-can
          span.title.trn= weCan
          span.trn= weCanText
    .make
      .anchor#make
      .make-background-1-half
      .make-background-2-half
      span.create.trn= creating
      .parallax8
      .range#tabs
        ul.list
          li
            a(href="#tabs-1").item-list.active.trn= sitesTitle
          li
            a(href="#tabs-2").item-list.trn= adsTitle
          li
            a(href="#tabs-3").item-list.trn= designTitle
          li
            a(href="#tabs-4").item-list.trn= softwareTitle
          li
            a(href="#tabs-5").item-list.trn= appsTitle
        mixin makeel(arr)
          each el in arr
            .element
              .picture
                img(src="./img/" + el.picture)
              .title
                span= el.title
              .text
                span= el.text
        .description
          .content
            .sites.active#tabs-1
              +makeel(sites)
            .ad#tabs-2
              +makeel(ads)
            .design#tabs-3
              +makeel(designes)
            .software#tabs-4
              +makeel(softwares)
            .apps#tabs-5
              +makeel(apps)
      .parallax9
    .projects#projects
      .parallax10
      .parallax11
      span.projects.trn= ourProjects
      .parallax12
      .content
        each project in projects
          .project
            .background
            span.title= project.title
            span.text= project.text
          
    .team
      .anchor#team
      .parallax13
      .parallax14
      span.team-title.trn= team
      .parallax15
      .parallax16
      table.members
        tr
          td
            .admin
            .text
              span.name.trn= sergei
              span.post LEAD ADMINISTRATOR
          td
            .des
            .text
              span.name.trn= oleg
              span.post UX/UI &amp; PRODUCT DESIGNER
          td
            .pj
            .text
              span.name.trn= alex
              span.post LEAD PRODUCT MANAGER
        tr
          td
            .seo
            .text
              span.name.trn= anast
              span.post SEO &amp; MANAGER
          td
            .front
            .text
              span.name.trn= mary
              span.post SENIOR FRONT END
          td
            .pm
            .text
              span.name.trn= viktor
              span.post LEAD PROJECT MANAGER
        tr
          td
            .analyt
            .text
              span.name.trn= evgen
              span.post SENIOR ANALYTICS
          td
            .fb
            .text
              span.name.trn= aleksei
              span.post FRONT END &amp; BACK END
          td
            .tls
            .text
              span.name.trn= ilya
              span.post TEAM LEAD SEO
    .before-footer
    .footer#contacts
      .middle
        a.mail(href="mailto:PRODUCT@BINLAB.COM") PRODUCT@BINLAB.COM
        .parallax17
        +mixin-contacts
