doctype html
html(lang="ru")
  -
    var connectWithUs = 'Connect with us'
    var feedbackMsg = 'Write your phone number and we will call you back! And tell everything in detail.'
    var name = 'Introduce yourself'
    var phone = 'Phone number'
    var message = 'Message'
    var send = 'SEND'
    var makeOrder = 'Place an order'
    var orderMsg = 'Send us your application, and we will advise you and tell you how it works.'
    var introPost = 'Introduce yourself / Your Post'
    var aboutUs = 'about us'
    var creating = 'creating'
    var ourProjects = 'projects'
    var team = 'team'
    var contacts = 'contacts'
    var feedbackBtn = 'FEEDBACK'
    var orderBtn = 'ORDER'
    var weCan = 'We can'
    var weCanText = 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
    var sitesTitle = 'SITES'
    var adsTitle = 'ADVERTISING'
    var designTitle = 'DESIGN'
    var softwareTitle = 'SOFTWARE'
    var appsTitle = 'APPS'
    var sergei = 'Sergei'
    var oleg = 'Oleg'
    var alex = 'Alexandr'
    var anast = 'Anastasia'
    var mary = 'Maria'
    var viktor = 'Victor'
    var evgen = 'Eugenia'
    var aleksei = 'Alexey'
    var ilya = 'Ilya'
    var sites = [
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      }
    ]
    var ads = [
      {
        picture: 'hd.png',
        title: 'Landing2',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      }
    ]
    var designes = [
      {
        picture: 'hd.png',
        title: 'Landing3',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      }
    ]
    var softwares = [
      {
        picture: 'hd.png',
        title: 'Landing4',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      }
    ]
    var apps = [
      {
        picture: 'hd.png',
        title: 'Landing5',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      },
      {
        picture: 'hd.png',
        title: 'Landing',
        text: 'Increasing market share, improving service and increasing loyalty, sales, reducing costs through self-service tools, and automating workplaces - all of this we do with mobile applications.'
      }
    ]
    var projects = [
      {
        title: 'Project',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      },
      {
        title: 'Project',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      },
      {
        title: 'ТХ-99',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      },
      {
        title: 'АРМА-17',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      },
      {
        title: 'Project',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      },
      {
        title: 'Project',
        text: 'Increase market share, improve service and increase loyalty, sales, reduce costs through self-service tools ...'
      }
    ]
    
  include ./body.pug
