@font-face
  font-family: 'GothamPro'
  src: url('./fonts/GothamPro.eot')
  src: url('./fonts/GothamPro.eot?#iefiex') format('embedded-opentype'), url('./fonts/GothamPro.woff') format('woff'), url('./fonts/GothamPro.woff2') format('woff2'), url('./fonts/GothamPro.ttf') format('truetype'), url('./fonts/GothamPro.svg#svgFontName') format('svg'), url('./fonts/GothamPro.otf') format('opentype')

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  margin: auto
  padding: 0px
  width: 100%
  height: 100%
  background: #151312

.noscroll
  overflow: hidden

a
  color: inherit
  text-decoration: none
  outline: inherit

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6,
.parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12,
.parallax13, .parallax14, .parallax15, .parallax16, .parallax17
  z-index: 100
  -webkit-transition: all ease-out 0.2s
  -moz-transition: all ease-out 0.2s
  transition: all ease-out 0.2s

.site-container
  width: 100%
  height: 100%
  -webkit-transition: all 0.4s
  -moz-transition: all 0.4s
  transition: all 0.4s

@media screen and (min--moz-device-pixel-ratio:0)
  .site-container:before
    z-index: 1
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #000
    opacity: 0
    content: ''
    -webkit-transition: opacity 0.8s
    -moz-transition: opacity 0.8s
    transition: opacity 0.8s

@media screen
  @media (min-width: 0px)
    .site-container:before
      z-index: 1
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: #000
      opacity: 0
      content: ''
      -webkit-transition: opacity 0.8s
      -moz-transition: opacity 0.8s
      transition: opacity 0.8s

@supports (-ms-ime-align:auto)
  .site-container:before
    z-index: 1
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #000
    opacity: 0
    content: ''
    -webkit-transition: opacity 0.8s
    -moz-transition: opacity 0.8s
    transition: opacity 0.8s

@media screen and (min--moz-device-pixel-ratio:0)
  .blur:before
    position: fixed
    z-index: 1000
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #000
    opacity: 0.65
    content: ''

@media screen
  @media (min-width: 0px)
    .blur:before
      position: fixed
      z-index: 1000
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: #000
      opacity: 0.65
      content: ''

@supports (-webkit-appearance:none)
  .blur:before
    position: fixed
    z-index: 1000
    left: 0
    right: 0
    top: 0
    bottom: 0
    content: ''
    background: none

@supports (-webkit-appearance:none)
  .blur
    filter: blur(3px) brightness(25%)
    -webkit-filter: blur(3px) brightness(25%)

@supports (-ms-ime-align:auto)
  .blur:before
    position: fixed
    z-index: 1000
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #000
    opacity: 0.65
    content: ''

.move1, .move2, .move3, .move4
  -webkit-transition: linear all 0.5s
  -moz-transition: linear all 0.5s
  transition: linear all 0.5s

.feedback-container, .order-container
  position: fixed
  background-color: #1B1716
  z-index: 1006
  padding: 37px
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  visibility: hidden
  opacity: 0
  -webkit-transition: linear all 0.5s
  -moz-transition: linear all 0.5s
  transition: linear all 0.5s

  &.on
    visibility: visible
    opacity: 1

  &.no
    display: none

  .close-feedback-order
    background-image: url('./img/cross.svg')
    width: 22px
    height: 22px
    background-size: contain
    position: absolute
    right: 25px
    top: 25px
    cursor: pointer

    &:hover
      background-image: url('./img/cross-hover.svg')

  span
    display: block
    font-family: 'GothamPro'
    margin-bottom: 30px

  span.title
    font-weight: bold
    font-size: 28px
    color: #FFD619
    letter-spacing: 4.31px

  span.text
    font-size: 19px
    color: #F0E9D2
    line-height: 35px

  input
    width: 320px
    height: 55px

  textarea
    width: 320px
    height: 105px
    resize: none
    overflow: auto

  input, textarea
    padding: 10px 20px
    display: block
    border: 0
    font-weight: normal
    font-family: 'GothamPro'
    font-size: 18px
    color: #F0E9D2
    line-height: 35px
    background: #262626
    border-radius: 2px
    margin-bottom: 15px

    &:focus
      outline: 0
      box-shadow: 0 0 14px 0 #FFD619

  button
    margin-top: 20px
    background: #FFD619
    border-radius: 2px
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 14px
    color: #262626
    letter-spacing: 3.33px
    width: 183px
    height: 52px
    border: 0
    cursor: pointer

    &:hover
      background-color: #8BB697

.feedback-container
  width: 610px
  height: 570px

  .bottle
    background-image: url('/img/bottle2.png')
    width: 278px
    height: 414px
    background-size: contain
    position: absolute
    right: -57px
    bottom: -22px

.order-container
  width: 750px
  height: 575px

  .name
    width: 100%

  .email, .phone
    width: 49%
    display: inline-block

  .email
    float: left

  .phone
    float: right

  .msg
    width: 100%
    height: 105px

.menu
  position: absolute
  text-align: center
  z-index: 1005
  top: 150px
  left: 0
  right: 0
  margin: auto

  @media screen and (min--moz-device-pixel-ratio:0)
    &.blur:before
      position: fixed
      z-index: 1000
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: #000
      opacity: 0.65
      content: ''

  @media screen and (min--moz-device-pixel-ratio:0)
    &:before
      // position: fixed
      z-index: 1
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: #000
      opacity: 0
      content: ''
      -webkit-transition: opacity 0.8s
      -moz-transition: opacity 0.8s
      transition: opacity 0.8s

  @supports (-webkit-appearance:none)
    &.blur
      filter: blur(3px) brightness(25%)
      -webkit-filter: blur(3px) brightness(25%)

      &:before
        position: fixed
        z-index: 1000
        left: 0
        right: 0
        top: 0
        bottom: 0
        content: ''


  @supports (-webkit-appearance:none)
    &:before
      // position: fixed
      z-index: 1
      left: 0
      right: 0
      top: 0
      bottom: 0
      content: ''

  .fullscreen-contacts
    display: none

  span.x
    content: ''
    display: inline-block
    background-image: url('./img/x.svg')
    background-repeat: no-repeat
    background-position: center
    width: 10px
    height: 10px
    background-size: 10px 10px
    padding: 0px 20px

  span.last-x
    display: none

  a
    cursor: pointer
    font-family: 'GothamPro'
    font-size: 21px
    color: #F0E9D2
    letter-spacing: 2px
    padding: 20px

    &.active-menu-item
      color: #FFD619
      font-weight: bold

    &:hover:not(.active-menu-item)
      color: #8BB697

  span#menu-line
    position: absolute
    bottom: -20px
    height: 6px
    width: 70px
    background-color: #FFD619
    padding: 0
    margin-left: 5px

  .close
    display: none

  &.transparent
    opacity: 0
    top: 100px

  &.fullscreen
    width: 320px
    opacity: 0
    margin-top: 50px
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    top: 100px
    position: fixed

    &.on
      opacity: 1
      margin-top: 0px
      -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
      transition: all 0.3s

    .fullscreen-contacts
      display: block
      height: 27%
      z-index: 200
      position: fixed
      left: 0
      bottom: 0
      width: 100%
      text-align: center

    span.x
      display: none

    span.last-x
      display: block
      content: ''
      background-image: url('./img/x.svg')
      background-repeat: no-repeat
      background-position: center
      width: 100%
      padding-top: 60px
      height: 10px
      background-size: 10px 10px

    a.menu-item
      display: block
      font-weight: bold
      font-size: 35px
      letter-spacing: 8.33px
      text-transform: uppercase
      margin: 35px 0px

      &.active-menu-item
        color: #FFD619
        font-weight: bold
        border-bottom: 6px solid #FFD619
        margin-bottom: -6px


    span#menu-line
      visibility: hidden

    .close
      background-image: url('./img/cross.svg')
      width: 42px
      height: 42px
      display: block
      position: fixed
      top: 60px
      right: 60px
      cursor: pointer


      &:hover
        background-image: url('./img/cross-hover.svg')

.header
  height: 100%
  position: relative
  min-height: 823px

  .bottle
    width: 320px
    height: 409px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    background-image: url('./img/bottle.png')
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto

  .parallax1
    background-image: url('./img/parallax1.svg')
    width: 83px
    height: 12px
    position: absolute
    top: 25%
    left: 12%

  .parallax2
    background-image: url('./img/parallax2.svg')
    width: 82px
    height: 26px
    position: absolute
    top: 60%
    right: 10%

  .title
    height: 149px
    background-image: url('./img/1bkgd-header.png')
    text-align: center
    padding-top: 50px
    font-size: 60px
    font-family: 'Helvetica'
    color: #FFD619

    &:before
      content: ''
      display: inline-block
      background-image: url('./img/title-icon.png')
      background-repeat: no-repeat
      width: 54px
      height: 54px
      background-size: contain
      padding-right: 15px

    span:nth-child(1)
      font-weight: bold
    span:nth-child(2)
      font-weight: lighter

    .hamburger
      width: 28px
      height: 22px
      position: fixed
      top: 70px
      right: 70px
      cursor: pointer
      z-index: 500

      &.transparent
        display: none

      &:hover
        span
          background-color: #FFD619

      span
        height: 4px
        display: block
        position: absolute
        background: #F0E9D2
        border-radius: 2px
        right: 0px

        &:nth-child(1)
          top: 0px
          width: 28px

        &:nth-child(2)
          top: 9px
          width: 18px

        &:nth-child(3)
          top: 18px
          width: 23px

  .content
    background-image: url('./img/2header.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: calc(100% - 149px)

.buttons
  position: absolute
  bottom: 22%
  right: 70px
  white-space: nowrap
  z-index: 500
  -webkit-transition: ease bottom 0.3s
  -moz-transition: ease bottom 0.3s
  transition: ease bottom 0.3s
  position: fixed

.btn
  z-index: 105
  display: inline-block
  font-family: 'GothamPro'
  font-weight: bold
  font-size: 14px
  letter-spacing: 3.33px
  border: none
  background: none
  cursor: pointer
  height: 52px
  display: inline-block
  outline: none
  position: relative
  border-radius: 2px
  outline: 1px solid transparent
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  transform-style: preserve-3d

.btn:after
  width: 100%
  height: 100%
  position: absolute
  left: 0
  line-height: 70px
  content: 'FEEDBACK'
  position: absolute
  z-index: -1
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  line-height: 52px
  top: -98%
  font-family: 'GothamPro'
  font-weight: bold
  font-size: 14px
  letter-spacing: 3.33px
  -webkit-transform-origin: 0% 100%
  -webkit-transform: rotateX(90deg)
  -moz-transform-origin: 0% 100%
  -moz-transform: rotateX(90deg)
  -ms-transform-origin: 0% 100%
  -ms-transform: rotateX(90deg)
  transform-origin: 0% 100%
  transform: rotateX(90deg)

.btn-active
  -webkit-transform-origin: 50% 100%
  -webkit-transform: rotateX(-90deg) translateY(100%)
  -moz-transform-origin: 50% 100%
  -moz-transform: rotateX(-90deg) translateY(100%)
  -ms-transform-origin: 50% 100%
  -ms-transform: rotateX(-90deg) translateY(100%)
  transform-origin: 50% 100%
  transform: rotateX(-90deg) translateY(100%)

.feedback
  margin-right: 30px
  color: #F0E9D2
  background: rgba(0, 0, 0, 0.3)
  border: 2px solid #F0E9D2
  width: 244px

  &:hover
    border: 2px solid #FFD619
    color: #FFD619

  &:after
    color: #F0E9D2
    background: rgba(0, 0, 0, 0.3)
    border: 2px solid #F0E9D2
    content: 'FEEDBACK'

.order
  color: #262626
  background: #FFD619
  width: 173px

  &:hover
    background: #8BB697

  &:after
    color: #262626
    background: #FFD619
    content: 'ORDER'

.company
  height: 100%
  min-height: 720px
  background-image: url('./img/3company.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative

  .moving-container
    overflow: hidden
    width: 100%
    height: 100%
    position: relative

  .parallax3
    background-image: url('./img/parallax3.svg')
    width: 320px
    height: 10px
    position: absolute
    top: 5%
    left: 15%

  .parallax4
    background-image: url('./img/parallax4.svg')
    width: 13px
    height: 84px
    position: absolute
    top: 0%
    right: 16%

  .parallax5
    background-image: url('./img/parallax5.svg')
    width: 140px
    height: 6px
    position: absolute
    top: 41%
    left: 0
    right: 0
    margin: auto

  .parallax6
    background-image: url('./img/parallax6.svg')
    width: 11px
    height: 81px
    position: absolute
    top: 30%
    left: 8%

  .parallax7
    background-image: url('./img/parallax7.svg')
    background-repeat: no-repeat
    background-position: center
    width: 532px
    height: 27px
    position: absolute
    top: 95%
    right: 0
    overflow: hidden

    .parallax7-scissors
      background-image: url('./img/parallax7-scissors.svg')
      width: 29px
      height: 27px

  .about-us
    width: 100%
    position: absolute
    text-align: center
    top: 31%
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 45px
    color: #F0E9D2
    letter-spacing: 10.71px
    text-transform: uppercase

  .we-can
    background-image: url('./img/bottle2.png')
    background-size: 285px 423px
    background-repeat: no-repeat
    background-position: left
    padding-left: 350px
    width: 57%
    min-width: 750px
    height: 423px
    position: absolute
    left: 5%
    right: 0
    margin: auto
    top: 40%
    display: flex
    flex-direction: column
    justify-content: center
    z-index: 5

    span
      display: block
      font-family: 'GothamPro'
      font-size: 19px
      color: #F0E9D2
      line-height: 40px

      &.title
        font-family: 'GothamPro'
        font-weight: bold
        font-size: 28px
        color: #FFD619
        letter-spacing: 4.31px

.make
  min-height: 100%
  position: relative

  .anchor
    position: absolute
    top: 10%

  .make-background-1-half
    background-image: url('./img/4bkgd-comp-creat.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 45vh
    min-height: 547px

  .make-background-2-half
    background-image: url('./img/5creat.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 55vh
    min-height: 670px

  .parallax8
    background-image: url('./img/parallax5.svg')
    width: 140px
    height: 6px
    position: absolute
    top: 30%
    left: 0
    right: 0
    margin: auto

  span.create
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 45px
    color: #FFFFDD
    letter-spacing: 10.71px
    width: 100%
    position: absolute
    text-align: center
    top: 21%
    text-transform: uppercase

  .parallax9
    background-image: url('./img/parallax9.svg')
    width: 733px
    height: 10px
    position: absolute
    top: 65%
    left: 10%
    z-index: 5

  .range
    position: absolute
    top: 37%
    right: 0
    width: 85%
    min-width: 900px
    height: 480px
    margin: auto

    &:after
      content: ""
      display: block
      position: absolute
      width: 10%
      height: 100%
      right: 0
      bottom: 0
      background: linear-gradient(to right, transparent, #000000)

    ul.list
      list-style: none
      width: 290px
      font-family: 'GothamPro'
      font-weight: bold
      font-size: 14px
      color: #8BB697
      padding: 0
      margin: 0
      letter-spacing: 3.33px
      line-height: 25px
      display: table
      border-collapse: separate
      border-spacing: 10px
      margin: -10px

      li
        display: table-row
        height: 55px

        a
          display: table-cell
          vertical-align: middle
          cursor: pointer
          padding-left: 58px
          position: relative

          &:hover
            font-family: 'GothamPro'
            font-weight: bold
            font-size: 14px
            color: #FFD619
            letter-spacing: 3.33px
            line-height: 25px

            &:before
              background-color: #FFD619

          &.active
            font-family: 'GothamPro'
            font-weight: bold
            font-size: 14px
            color: #FFFFDD
            letter-spacing: 3.33px
            line-height: 25px
            background: #1B1716
            border-radius: 2px

          &:before
            content: ''
            position: absolute
            left: 15px
            top: 13px
            width: 29px
            height: 28px
            background-color: #8BB697
            -webkit-mask-repeat: no-repeat
            -webkit-mask-position: center
            mask-repeat: no-repeat
            mask-position: center

          &.active:before
            background-color: #FFD619

        &:nth-child(1)
          a:before
            -webkit-mask-image: url('./img/sites.svg')
            mask-image: url('./img/sites.svg')

        &:nth-child(2)
          a:before
            -webkit-mask-image: url('./img/addontblockme.svg')
            mask-image: url('./img/addontblockme.svg')

        &:nth-child(3)
          a:before
            -webkit-mask-image: url('./img/design.svg')
            mask-image: url('./img/design.svg')

        &:nth-child(4)
          a:before
            -webkit-mask-image: url('./img/software.svg')
            mask-image: url('./img/software.svg')

        &:nth-child(5)
          a:before
            -webkit-mask-image: url('./img/apps.svg')
            mask-image: url('./img/apps.svg')

    .description
      background-color: #1b1716
      height: 100%
      position: absolute
      top: 0px
      right: 0px
      width: calc(100% - 300px)
      // overflow: hidden

      #mCSB_1_scrollbar_horizontal
        width: 58%
        margin-bottom: 35px
        margin-left: 7px

        .mCSB_buttonLeft
          right: calc(-100% - 80px)
          bottom: -12px

        .mCSB_buttonRight
          right: -100px
          top: -6px

      .content
        width: auto
        height: 83%
        white-space: nowrap

        .sites, .ad, .design, .software, .apps
          display: none

          &.active
            display: block

        .element
          margin: 30px
          white-space: normal
          display: inline-block
          width: 640px

          .picture
            width: 100%
            height: 135px
            margin-bottom: 30px

          .title
            font-family: 'GothamPro'
            font-weight: bold
            font-size: 28px
            color: #FFD619
            letter-spacing: 4.31px
            margin-bottom: 30px

          .text
            font-family: 'GothamPro'
            font-size: 19px
            color: #F0E9D2
            line-height: 35px

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
  height: 6px !important
  background-color: #8BB697 !important

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail
  height: 6px !important
  margin: 6px 0px !important
  background-color: #262626 !important

.mCSB_buttonLeft, .mCSB_buttonRight
  width: 41px !important
  height: 19px !important

.mCSB_buttonLeft
  background-image: url('./img/arrow-green.svg') !important
  background-position: center !important
  opacity: 1 !important
  position: absolute !important

  &:hover
    background-image: url('./img/arrow-yellow.svg') !important

.mCSB_buttonRight
  background-image: url('./img/arrow-green.svg') !important
  background-position: center !important
  transform: rotate(180deg)
  opacity: 1 !important
  position: absolute !important

  &:hover
    background-image: url('./img/arrow-yellow.svg') !important

#projects
  height: 85%
  min-height: 674px
  background-image: url('./img/6projects.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative

  .parallax10
    background-image: url('./img/parallax10.svg')
    width: 26px
    height: 82px
    position: absolute
    top: -5%
    right: 10%
    z-index: 5

  .parallax11
    background-image: url('./img/parallax11.svg')
    width: 12px
    height: 83px
    position: absolute
    top: 10%
    left: 15%
    z-index: 5

  .parallax12
    background-image: url('./img/parallax5.svg')
    width: 140px
    height: 6px
    position: absolute
    top: 20%
    left: 0
    right: 0
    margin: auto

  span.projects
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 45px
    color: #FFFFDD
    letter-spacing: 10.71px
    width: 100%
    position: absolute
    text-align: center
    top: 9%
    text-transform: uppercase

  .content
    width: auto
    white-space: nowrap
    position: absolute
    width: 100%
    top: 28%
    overflow: hidden

    #mCSB_2
      padding-bottom: 50px

    #mCSB_2_scrollbar_horizontal
      width: 55%
      left: 0
      right: 0
      margin: auto
      position: absolute
      bottom: 45px

      .mCSB_draggerRail
        background-color: #1B1716 !important

      .mCSB_buttonLeft
        right: calc(-100% - 80px)
        bottom: -12px

      .mCSB_buttonRight
        right: -100px
        top: -6px

    .project
      white-space: normal
      display: table-cell
      min-width: 480px
      max-width: 480px
      width: 480px
      height: 470px
      padding: 0px 50px
      vertical-align: middle
      z-index: 6

      .background
        width: 161px
        height: 239px
        background-size: 161px 239px
        background-image: url('./img/bottle2.png')
        background-repeat: no-repeat
        background-position: center
        width: 100%
        transform: rotate(-16deg) translateX(-22px) translateY(-10px)


      span.title
        font-family: 'GothamPro'
        font-weight: bold
        font-size: 28px
        color: #FFD619
        letter-spacing: 4.31px
        display: block
        width: 100%
        text-align: center
        padding: 25px 0px

      span.text
        font-family: 'GothamPro'
        font-size: 19px
        color: #F0E9D2
        line-height: 35px
        display: block

.team
  height: 80%
  min-height: 674px
  background-image: url('./img/7text.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative

  .anchor
    position: absolute
    top: 20%

  .parallax13
    background-image: url('./img/parallax13.svg')
    width: 560px
    height: 9px
    position: absolute
    top: 25%
    right: 5%
    z-index: 5

  .parallax14
    background-image: url('./img/parallax4.svg')
    width: 13px
    height: 84px
    position: absolute
    top: 50%
    left: 10%
    z-index: 5

  .parallax15
    background-image: url('./img/parallax5.svg')
    width: 140px
    height: 6px
    position: absolute
    top: 65%
    left: 0
    right: 0
    margin: auto

  .parallax16
    background-image: url('./img/parallax6.svg')
    width: 11px
    height: 81px
    position: absolute
    top: 60%
    right: 10%
    z-index: 5

  span.team-title
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 45px
    color: #FFFFDD
    letter-spacing: 10.71px
    width: 100%
    position: absolute
    text-align: center
    top: 50%
    text-transform: uppercase

  table.members
    position: relative
    left: 0
    right: 0
    margin: auto
    top: 75%
    font-family: 'GothamPro'
    font-weight: bold
    font-size: 14px
    color: #FFD619
    letter-spacing: 3.33px
    line-height: 25px
    z-index: 5

    span
      display: block

    td
      vertical-align: middle
      padding: 0px 50px 60px 25px
      white-space: nowrap
      width: 345px

      div
        height: 44px
        width: 44px
        display: inline-block
        background-repeat: no-repeat
        background-position: right
        white-space: normal
        margin-right: 30px

        &.admin
          background-image: url('./img/admin.svg')
        &.des
          background-image: url('./img/des.svg')
        &.pj
          background-image: url('./img/pj.svg')
        &.seo
          background-image: url('./img/seo.svg')
        &.front
          background-image: url('./img/front.svg')
        &.pm
          background-image: url('./img/pm.svg')
        &.analyt
          background-image: url('./img/analyt.svg')
        &.fb
          background-image: url('./img/fb.svg')
        &.tls
          background-image: url('./img/tls.svg')

      .text
        width: calc(100% - 83px)
        margin-right: 0px

    span.post
      color: #FFFFDD

.before-footer
  height: 390px
  background-image: url('./img/8bckg.png')
  background-position: center
  position: relative

.footer
  height: 337px
  background-image: url('./img/9footer.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative

.middle
  width: 500px
  left: 0
  right: 0
  margin: auto
  text-align: center

  a.mail
    font-family: 'GothamPro'
    font-size: 23px
    color: #FFD619
    letter-spacing: 5.48px
    font-weight: bold
    right: 0
    left: 0
    margin: auto
    position: absolute
    top: -8%

    &:hover
      color: #8BB697

  .parallax17
    background-image: url('./img/parallax5.svg')
    width: 140px
    height: 6px
    position: absolute
    top: 22%
    left: 0
    right: 0
    margin: auto

.social
  position: absolute
  top: 45%
  left: 0
  right: 0
  margin: auto

  *
    width: 24px
    height: 24px
    background-repeat: no-repeat
    background-position: center
    display: inline-block
    margin: 0px 20px
    cursor: pointer

  .google
    background-image: url('./img/google.svg')
    &:hover
      background-image: url('./img/google-hover.svg')
  .facebook
    background-image: url('./img/facebook.svg')
    &:hover
      background-image: url('./img/facebook-hover.svg')
  .in
    background-image: url('./img/in.svg')
    &:hover
      background-image: url('./img/in-hover.svg')
  .twitter
    background-image: url('./img/twitter.svg')
    &:hover
      background-image: url('./img/twitter-hover.svg')
  .instagram
    background-image: url('./img/instagram.svg')
    &:hover
      background-image: url('./img/instagram-hover.svg')
  .vimeo
    background-image: url('./img/vimeo.svg')
    &:hover
      background-image: url('./img/vimeo-hover.svg')

span.copyrights
  font-family: 'GothamPro'
  font-size: 16px
  color: #F0E9D2
  line-height: 35px
  right: 0
  left: 0
  margin: auto
  position: absolute
  top: 72%

@media (max-width: 900px)
  .parallax1, .parallax2, .parallax3, .parallax4, .parallax6,
  .parallax10, .parallax11, .parallax14, .parallax16
    display: none

  body
    min-width: 375px

  .site-container
    position: relative

  .menu
    display: none

    a
      padding: inherit

    a:nth-child(1)
      padding-top: 0px

    &.transparent
      display: block


    &.fullscreen
      top: 5%
      width: 250px

      .fullscreen-contacts
        height: 37%

      a.menu-item
        font-size: 30px
        padding: 5px 0px
        margin: 13% 0px

      .close
        width: 22px
        height: 22px
        top: 25px
        right: 25px
        background-size: contain

  .buttons
    white-space: normal
    width: 100%
    text-align: center
    left: 0
    position: absolute

    .btn
      position: absolute
      left: 0
      right: 0
      margin: auto

    .feedback
      top: 60px

    .order
      top: -20px

  .header
    min-height: 0

    .title
      font-size: 30px
      text-align: left
      padding-left: 20px
      padding-top: 20px

      &:before
        width: 27px
        height: 27px
        padding-right: 5px

      .hamburger
        top: 25px
        right: 25px

    .content
      .bottle
        height: 49%
        width: auto
        background-repeat: no-repeat
        transform: translateY(-25%)
        background-position: center

  .company
    min-height: 600px

    .we-can
      background-image: none
      width: 100%
      min-width: 0
      height: auto
      left: 0
      padding: 30px
      padding-top: 0px
      top: 170px

      span
        font-size: 18px

    .about-us
      top: 45px

    .parallax5
      top: 125px

    .parallax7
      width: 300px
      top: auto
      bottom: 5%

  .make
    min-height: 100%
    height: auto
    overflow-x: hidden

    .anchor
      top: 0

    .make-background-1-half
      min-height: 0
      width: 100%
      position: absolute

    .make-background-2-half
      min-height: 0
      width: 100%
      position: absolute
      bottom: 0

    span.create
      font-size: 40px
      top: 50px

    .parallax8
      top: 138px

    .parallax9
      bottom: 5px
      top: auto

    .range
      position: relative
      height: auto
      margin-top: 195px
      width: 100%
      min-width: 0
      margin-bottom: 50px

      &:after
        display: none

      ul.list
        display: block
        width: auto
        white-space: nowrap
        margin: 0
        overflow-x: auto

        li
          white-space: normal
          display: inline-block
          width: calc(100% - 86px)

          &:last-child
            width: 100%

          a
            white-space: nowrap
            line-height: 35px
            width: 100%
            display: table

            &:before
              top: 0
              margin-top: 13px
              margin-left: 5px

            &:hover
              line-height: 35px

            &.active
              display: table
              line-height: 35px

            &.active:before
              margin-top: 13px
              margin-left: 5px


      .description
        height: auto
        width: 100%
        position: relative

        .content
          height: auto

          .element
            width: calc(100vw - 60px)

            .picture
              height: auto
              img
                width: 100%

        #mCSB_1_scrollbar_horizontal
          width: 95%
          margin-bottom: 30px

          .mCSB_buttonLeft, .mCSB_buttonRight
            display: none !important

  #projects
    min-height: 100%
    height: auto

    span.projects
      top: 6%

    .parallax12
      top: 19%

    .content
      position: relative
      top: 0
      padding-top: 48%

      .project
        min-width: 375px
        padding: 30px
        padding-top: 0px
        width: 100vw

        span.text
          font-size: 18px

      #mCSB_2
        padding-bottom: 0px
        z-index: 1

      #mCSB_2_scrollbar_horizontal
        width: 95%
        left: 0
        right: 0
        margin: auto
        position: absolute
        bottom: 20px

        .mCSB_draggerRail
          background-color: #1B1716

        .mCSB_buttonLeft, .mCSB_buttonRight
          display: none !important

  .team
    min-height: 100%
    height: auto
    overflow-x: hidden

    .anchor
      top: 5%

    span.team-title
      top: 10%

    .parallax13
      top: 4%
      left: 51%
      right: auto

    .parallax15
      top: 19%

    table.members
      padding-top: 66%

      tr, td
        display: inline-block

      td
        padding: 0px 30px 30px 20px

        .text
          width: 90%

        div
          background-position: center
          margin-right: 15px


  .before-footer
    height: 100px

  .footer
    .middle
      a.mail
        font-size: 18px
        letter-spacing: 4.29px
        top: -18%

      .parallax17
        top: 9%

  .social
    top: 30%

    *
      margin: 0px 15px

  span.copyrights
    top: 57%

  .order-container, .feedback-container
    width: 100%
    height: 100%
    padding: 30px

    span.text
      font-size: 16px

    input, textarea
      display: block !important
      width: 100% !important

    textarea
      height: 85px !important

  .feedback-container
    .bottle
      display: none
